.ptr-wrapper{
    position: relative;
}

.ptr-header
    position absolute
    left 0
    width 100vw
    height 75px
    display flex
    align-items: center
    justify-content: center
    &.pulling-down
        top: 0
